:root{
    --fc-highlight-color: #f4faf0;
    --fc-daygrid-event-dot-width: 8px
}

.fc .fc-highlight{
    /* background-color: #f4faf0; */
    border: 1.2px solid green;
}

.fc-event.fc-daygrid-dot-event{
    height: 16px;
}

.fc-daygrid-event-dot {
    height: 100%;
    border-width: calc(var(--fc-daygrid-event-dot-width)/3) ;
    border-style: solid;
    border-color: var(--fc-event-border-color);
    border-radius: 2%;
    box-sizing: content-box;
    margin: 0px 4px;
    width: 0px;
    position: absolute;
}

/* .fc .fc-daygrid-event-harness {
    position: relative;
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    border-color: var(--fc-event-border-color);
} */


/* Day Header and cell border sytles */
.customStylesDayHeader{
    font-weight: 500;
    color: #525252;
    border-width: 0px;
    padding-bottom: 15px;
}

.fc-theme-standard .fc-scrollgrid {
    border: 0px solid var(--fc-border-color);
}
 .fc-theme-standard th {
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: var(--fc-border-color);
    /* padding-bottom: 15px; */

}


.fc-theme-standard td{
    border: 1px solid var(--fc-border-color);
}
.fc-daygrid-body.fc-daygrid-body-unbalanced{
    border-width: 0px 0 0 1px;
    border-style: solid;
    border-color: var(--fc-border-color);
} 
/* .fc-scrollgrid-section.fc-scrollgrid-section-header th{
    padding-bottom: 15px;
}  */
/* fc-col-header-cell fc-day fc-day-sun customStylesDayHeader */
.fc-col-header-cell .fc-scrollgrid-sync-inner{
    padding-bottom: 13px;
}
.fc-daygrid-day-frame{
    max-height: 100px;
}

.customStylesDayCells:hover{
    background-color: #f5f5f5;
}
/* .fc-event.fc-daygrid-event.fc-daygrid-dot-event{ */
    /* display: flex;
    flex-direction: column; */
/* } */
.fc-event.fc-daygrid-dot-event{
    min-height: 16px; 
    height: auto;
}

.fc-event.fc-daygrid-event.fc-daygrid-dot-event > .fc-event-title{ 
    padding-left: 15px;

}