.rbc-header{
    font-style: normal;
    text-decoration: none;
    color: #525252;
    font-weight: normal;
    border: none;
    /* border-top:  solid white; */
}
.rbc-month-view{
    border: none;
}
.rbc-day-bg{
    border: 0.4px solid #D4D4D4;   
}
.rbc-day-bg + .rbc-day-bg {
    border-left: 0px solid #ddd;
}

.rbc-month-row + .rbc-month-row {
border-top: 0px solid #ddd;
}

.rbc-header + .rbc-header {
border-left: 0px solid #ddd;
}

.rbc-off-range-bg {
    background: transparent;
}

.rbc-month-view .rbc-month-header{
    padding-bottom: 1rem;
}

.rbc-row-content .rbc-row .rbc-date-cell:last-child{
    color: #cc5d56;
}

.rbc-row-bg .rbc-day-bg.rbc-today {
    background-color: #5d9936;
}

.rbc-row .rbc-date-cell.rbc-now{
    color: #fafafa;
    /* font-size: 13px;
    line-height: 20px; */
    font-weight: 500; 
}

.rbc-month-header .rbc-header{
    color: #525252;
}